@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #11001F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #ffffffdd;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #090448c8;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 9px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 2px solid #6c3ae9e2;
  border-radius: 7px;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #ffffffed;
}

.todo-input::placeholder {
  color: #ffffff;
}

.todo-btn {
  background: #6c3ae9e2;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 7px;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 7px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.Todo:nth-child(4n + 1){
  background: #32d861ed;
  color: #fff;
}

.Todo:nth-child(4n + 2){
  background: #ffb443e7;
  color: #ffffffef;
}

.Todo:nth-child(4n + 3){
  background: #f936b5e9;
  color: #fff;
}

.Todo:nth-child(4n + 4){
  background: #18ccd6e6;
  color: #fff;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}